{% extends "base.html" %}
{% block user_register %}
   <div class="row">
    <div class="span12">
    <center>
    <h1>Register with TaskMan</h1><br />
    {% if registered %}
        <strong>thank you for registering!</strong>
        <a href="#">Return to the homepage.</a><br />
    {% else %}
        <form id="user_form" method="post" action="/taskman/register/">
            {% csrf_token %}
            {{ user_form.as_p }}
            <br />
            <input type="submit" class="btn btn-primary" name="submit" value="Register" />
        </form>
    {% endif %}
    </center>
    </div>
    </div>
{% endblock %}

